.vfu-dropzone {
    padding: 10px;
    border: 2px dashed #cdcdcd;
    min-height: 50px;
    display: flex;
    -ms-align-items: center;
    -ms-justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.vfu-dropzone-overlay {
    display: flex;
    -ms-align-items: center;
    -ms-justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 18px;
    font-weight: bold;
    background: rgba(255, 255, 255, .8);
}
.vfu-hide {
    display: none;
}
.vfu-dragover {
    border: 2px dashed #000;
}
.vfu-label {
    text-align: center;
}
.vfu-bar {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 5px;
}
.vfu-hidden-input {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}
.vfu-dropzone:before, .vfu-dropzone:after {
    content: " ";
    display: table;
}
.vfu-dropzone:after {
    clear: both;
}
.vfu-single-file {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
.vfu-single-file:hover .vfu-delete-file {
    opacity: 1;
}
.vfu-delete-file {
    opacity: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 10;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
}
.vfu-single-file .vfu-no-image-file {
    display: block;
    text-align: center;
}
.vfu-file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.vfu-dropzone .fa{
    display: none;
}