<template name="vazcoFilesUploadDropzone">
    {{#if UI.contentBlock}}
        {{> UI.contentBlock}}
    {{else}}
        <div class="vfu-dropzone-{{classSufix}} vfu-dropzone">
            <div class="vfu-list">
                {{#each files}}
                    {{#if isImage}}
                        <div class="vfu-single-file">
                            <a href="{{this.url store='files'}}">
                                <img id="{{_id}}" src="{{this.url store='thumbs'}}" alt="">
                            </a>
                            {{#FS.DeleteButton class="btn btn-danger btn-xs vfu-delete-file"}}
                                <i class="fa fa-remove"></i>
                            {{/FS.DeleteButton}}
                            {{#unless this.isUploaded}}
                                <div class="">
                                    {{> FS.UploadProgressBar bootstrap=true}}
                                </div>
                            {{/unless}}
                        </div>
                    {{else}}
                        <div class="vfu-single-file">
                            <a href="{{this.url store='files'}}" class="vfu-no-image-file" title="{{this.name}}">
                                <i class="fa fa-file"></i>
                                <span class="vfu-file-name">{{this.name}}</span>
                            </a>
                            {{#FS.DeleteButton class="btn btn-danger btn-xs vfu-delete-file"}}
                                <i class="fa fa-remove"></i>
                            {{/FS.DeleteButton}}
                            {{#unless this.isUploaded}}
                                <div class="">
                                    {{> FS.UploadProgressBar bootstrap=true}}
                                </div>
                            {{/unless}}
                        </div>
                    {{/if}}
                {{else}}
                    <div class="vfu-label">
                        Drop files to upload (or&nbsp;click)
                    </div>
                {{/each}}
            </div>
            <div class="vfu-dropzone-overlay vfu-hide">Drop files here</div>
        </div>
        <input type="file" multiple="multiple" class="vfu-hidden-input vfu-hidden-input-{{classSufix}}">
    {{/if}}
</template>
