<template name="vazcoAdminNav_resizeImages">
    <strong>Resize Images</strong>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <div class="form-group">
                <p>File Collection:</p>
                {{#each resizeImagesCollections}}
                    {{> resizeImagesCollectionsList}}
                {{/each}}
                <button type="button" disabled={{isDisabled}} class="btn btn-primary btn-sm resizeImagesBtn">
                    Resize images <span class="load glyphicon glyphicon-refresh hide"></span>
                </button>
            </div>
        </li>
    </ul>
</template>

<template name="resizeImagesCollectionsList">
    <label for="{{name}}-{{random}}">
        <input id="{{name}}-{{random}}" name="resize-images-radio" type="radio" value="{{name}}"> {{name}}
    </label>
</template>